* {
	padding: 0;
	margin: 0;
	color: inherit;
}
.menu {
	background-color: #333;
	color: #fff;
	
	padding: 15px;
	user-select: none;
	
	position: relative;
	z-index: 1;
}

.menu-toggle {
	cursor: pointer;
	font-size: 40px;
	
	display: inline-flex;
	align-items: center;
	min-height: 25px;
	
	line-height: 0;
	
	border: none;
	background-color: transparent;
	outline: 0;
	overflow: hidden;
}

.menu-inner:hover ~ .menu-toggle,
.menu-toggle-btn:active ~ .menu-toggle,
.menu-toggle-btn:focus ~ .menu-toggle {
	color: #999;
}

.menu-toggle-btn {
	position: fixed;
	right: 100%;
	bottom: 100%;
	opacity: 0;
}

.menu-inner {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	background-color: inherit;
	padding: inherit;
	
	transition: .3s;
	clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
	visibility: hidden;
}

.menu-inner:hover,
.menu-toggle-btn:active ~ .menu-inner,
.menu-toggle-btn:focus ~ .menu-inner {
	clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
	margin-top: 10px;
	visibility: visible;
}

.menu-container {
	list-style-type: none;
}

.menu-item {
	margin-bottom: 10px;
	text-align: center;
}
.menu-item:last-child {
	margin-bottom: 0;
}

.menu-link {
	text-decoration: none;
}
.menu-link:hover {
	text-decoration: underline;
}